@use "variables" as *;
@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button-base {
  border: none;
  border-radius: $rounded-full;
  padding: $size-16 1.875rem;
  font-size: $fs-400;
  font-weight: $fw-700;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: $clr-white;
}

@mixin button-primary {
  @include button-base;

  @media screen and (min-width: 48em) {
    padding: 1.1rem 2.6rem;
  }

  background-color: $clr-primary-400;

  &:hover {
    background-color: $clr-primary-hover;
  }
}

@mixin button-secondary {
  @include button-base;

  padding: 1.1rem 1.75rem;

  background-color: $clr-secondary-400;

  &:hover {
    background-color: $clr-secondary-hover;
  }

  span {
    color: $clr-secondary-200;
  }
}

@mixin section-number {
  .section__number {
    font-size: $fs-400;
    border: 1px solid rgb($clr-neutral-400, 0.25);
    width: fit-content;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    border-radius: $rounded-full;
    position: relative;
    transform: translateY(-50%);
    background-color: $clr-neutral-100;
    font-weight: $fw-900;
    color: $clr-neutral-400;
    margin-bottom: 2rem;

    &::before {
      content: "";
      width: 1px;
      height: 5rem;
      background-color: rgb($clr-neutral-400, 0.25);
      border-radius: $rounded-full;
      position: absolute;
      top: -5rem;
    }
  }
}
