// Colors
$clr-primary-400: #4d96a9;
$clr-primary-200: #8fe3f9;
$clr-primary-hover: #71c0d4;
$clr-secondary-800: #28283d;
$clr-secondary-400: #855fb1;
$clr-secondary-200: #d9b8ff;
$clr-secondary-hover: #b18bdd;

$clr-white: #ffffff;
$clr-neutral-100: #fafafa;
$clr-neutral-400: #87879d;

$clr-base: #000;

// Typography
$fs-900: 6rem; // 96px
$fs-800: 4rem; // 64px
$fs-700: 2.5rem; // 40px
$fs-650: 2rem; // 32px
$fs-600: 1.625rem; // 26px
$fs-500: 1.125rem; // 18px
$fs-400: 1rem; // 16px

$fs-body: $fs-500;

$rounded-full: 9999px;

// font-weights
$fw-400: 400;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

// sizes and spacing values
$size-8: 0.5rem; // 8px
$size-12: 0.75rem; // 12px
$size-16: 1rem; // 16px
$size-20: 1.25rem; // 20px
$size-32: 2rem; // 32px
$size-36: 2.25rem; // 36px
$size-45: 2.8125rem; // 45px
